.animal_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 300px;
    margin: 1rem auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.name,.number,.address{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #bdc3c7;
    border-radius: 6px;
    font-size: 15px;
  }

.adoptform{
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 10px; /* Adjust padding to only apply left and right */
  box-sizing: border-box; /* Ensure padding does not affect the width */
}
  