.hero_image {
    position: relative;
    width: 100%;
    min-height: 70vh;
    overflow: hidden;
    border: 1px solid black;
    
}

.hero_banner_image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.hero_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Happy Monkey', cursive;
    padding: 20px;
    border-radius: 5px;
    z-index: 1;
    color: rgb(88, 109, 114);
    font-size: clamp(16px, 4vw, 24px);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7);
}

.join_us_button,.about_button {
    text-align: center;
    background-color: #89b0d4;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin: 5px;
}

.join_us_button:hover,.about_button:hover {
    background-color: #92a793;
    transform: scale(1.05);
}

.dog_image_gallery {
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.gallery_text{
    margin: 25px;
    text-align: center;
}

.dog_image {
    width: 100%;
    max-width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.dog_image:hover {
    transform: scale(1.05);
}

.gallery_button {
    text-align: center;
    background-color: #f39422;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: 15px;
}

.gallery_button:hover {
    background-color: #d9821e;
    transform: scale(1.05);
}

.adopt_gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0;
    gap: 20px;
}

.gallery {
    flex: 2;
    padding: 20px;
    text-align: center;
}


/* src/pages/Home.css */

.container_dropdown {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .header_drop {
    padding: 15px;
    background-color: #f7f7f7;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  .header_drop h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .dropdown_content {
    padding: 15px;
    background-color: #fff;
    animation: dropdown 0.3s ease-in-out;
  }
  .counter{
    margin:20px;
  }
  .youtube_video{
    margin: 20px;
  }
  
  /* Add animation for smooth expansion */
  @keyframes dropdown {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 1000px;
      opacity: 1;
    }
  }
  


@media (max-width: 768px) {
    .hero_image {
        min-height: 40vh;
    }

    .hero_text{
        font-size: 14px;
    }
    .adopt_gallery {
        flex-direction: column;
        padding: 20px 0;
    }
}

@media (max-width: 480px) {
    .hero_image {
        min-height: 40vh;
    }

    .hero_text{
        font-size: 14px;
    }
    .dog_image {
        max-width: 100%;
    }

    .gallery_button {
        font-size: 14px;
        padding: 10px 20px;
    }
}
