/* Footer.css */

.container{
  background-color: #333;
}
  .footer_container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    flex-wrap: wrap;
   
  }
  
  .footer {
   
    color: #fff;
    padding: 20px 0;
    text-align: center;
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  
  .footer_heading {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .footer_1{
    list-style: none;
    padding: 0;
  }
  
  .footer_link {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
    display: block;
  }
  
  .footer_contact{
    margin: 5px 2px;
  }
  
  .footer_copyright {
    font-size: 14px;
    color: white;
    text-align: center;
  }
  